*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('space.jpg');
    background-attachment: fixed;
    color: white;
}
#canvas{
    position:absolute;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
main h3{
    margin-left: 20%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8200c9;
    position: sticky;
    top:0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1 rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #df7cf3; 
    box-shadow: 0 0 10px rgb(172, 169, 169);
}
#home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color:black;
}
#home::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    height:900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-right: 60%;
    color:black;
}
.headings{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    height: 100vh;
}

#intro{
    display:flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 50px;
    width: 700px;
    height: 400px;
}
#intro ul li{
    padding: 5px;
    margin: 5px;
}
#hobbies{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width:360px;
    height:240px;
    margin:10px;
}
#projects{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.box a i{
    color:white;
}
.view{
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-bottom: 1%;
    font-weight:bold;
}
.view a{
    box-shadow: 0 0 10px gray;
    padding: 15px;
    text-decoration: none;
    border-radius: 45px;
    border:1px solid black;
}
.view a,a i{
    color:white;
    padding: 3px;
}
.row{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height:400px;
    border:1px solid black;
    margin:10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 45px;
    background: linear-gradient(to top,rgb(116, 113, 113) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover,.view a:hover{
    background-position: left bottom;
    color:white;
    border:none;
    box-shadow: 0 0 20px rgb(116, 113, 113);
}
.box img{
    width:300px;
    height:300px;
    padding:20px;
}
#contact{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}
.contact p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color:white;
    padding: auto;
}
.social a i{
    display: inline-block;
    margin: 15px;
    transition: transform .3s;
    padding:25px;
    color:white;
}
.social a i:hover{
    transform: scale(1.2);
}
@media (max-width:800px){
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px 20px;
        transition: all .5s ease;
    }
    
    .heading{
        font-size: 2.5rem;
    }
    
    #intro h2{
        text-align: center;
        padding:10px;
    }
   
}
@media (max-width:530px){
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 3px 3px;
        transition: all .5s ease;
    }
    #home{
        height:820px;
    }
    .headings{
        font-size: 1.7rem;
    }
    #intro h2{
        font-size: 1.5rem;
    }
    .gallery img{
        width:250px;
        height:150px;
        margin:25px;
    }
    .social{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}